*{
    -fx-primary-color: #0A7935;
    -fx-primary-hover-color: #0d9943;
    -fx-secoundary-color: #333333;
    -fx-secoundary-hover-color: #444444;
}
/*
 Navbar Part
*/
.navbar_buttons{
    -fx-background-color: -fx-secoundary-color;
    -fx-padding:  10 78 10 78;
    -fx-font-family: "Lato";
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-background-radius: 10px;
}
.navbar_buttons:hover{
    -fx-cursor: hand;
    -fx-background-color: -fx-secoundary-hover-color;
}
.navbar_buttons:pressed{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.navbar_active{
    -fx-border-color: -fx-primary-color;
    -fx-border-radius:  20px;
    -fx-border-width:  10px;
    -fx-border-insets: -10px;
}

#navbar_search_box{
    -fx-background-image:url('../images/search_icon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 27px 27px;
    -fx-background-position: 98%;
    -fx-background-radius: 15px;
    -fx-font-family: 'Lato';
    -fx-alignment: left;
    -fx-font-size: 36px;
    -fx-font-family: 'Lato';
    -fx-font-weight: 600;
    -fx-padding: 5 10 5 30;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #444444;
}
#navbar_account_button{
    -fx-text-fill: white;
    -fx-padding: 10 50 10 50;
    -fx-background-color: -fx-primary-color;
}
#navbar_account_button:hover{
    -fx-background-color: -fx-primary-hover-color;
}





/* Packages Section */
.package_card{
    -fx-font-family: 'Lato';
    -fx-background-color:  #f9f9f9;
    -fx-background-radius: 10px;
    -fx-padding:  20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-border-color: -fx-primary-color;
    -fx-border-radius:  6px;
    -fx-border-width:  6px;
}
.package_card_content{
    -fx-background-color:  #fff;
    -fx-background-radius: 5px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;

}
.package_card_content:hover{
    -fx-cursor: hand;
    -fx-background-color: #f9f9f9;
    -fx-border-color: -fx-primary-color;
}
.package_card_content:pressed{
    -fx-background-color: #f9f9f9;
    -fx-border-color: -fx-primary-color;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}
.package_card_title{
    -fx-font-size: 50px;
    -fx-font-weight: 800;
    -fx-fill: -fx-secoundary-color;
}
.package_card_button{
    -fx-font-size: 28px;
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-font-family: 'Lato';
    -fx-padding: 10 40 10 40;
    -fx-background-radius: 50px;
    -fx-background-color: -fx-secoundary-color;
}
.package_card_button:hover{
    -fx-background-color: -fx-secoundary-hover-color;
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}
.package_card_button:pressed{
    -fx-background-color: -fx-secoundary-color;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}
.package_card_showall:hover{
    -fx-cursor: hand;
    -fx-text-fill: -fx-secoundary-hover-color;
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}
.package_card_showall:pressed{
    -fx-text-fill: -fx-secoundary-color;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.package_card_totalprice{
    -fx-font-size: 30px;
    -fx-font-weight: 500;
    -fx-fill: #3D3D3D;
}

.package_card_totalprice_sum{
    -fx-font-size: 70px;
    -fx-font-weight: 900;
    -fx-fill: #3D3D3D;
}


.package_card_item_title{
    -fx-font-size: 35px;
    -fx-font-weight: 800;
    -fx-fill: -fx-secoundary-color;
}

.package_card_item_price{
    -fx-font-size: 35px;
    -fx-font-weight: 800;
    -fx-fill: -fx-primary-color;
}
.package_card_item_price_decimal{
    -fx-font-size: 18px;
    -fx-fill: -fx-primary-color;
}
.package_card_item_unit{
    -fx-font-size: 35px;
    -fx-fill: -fx-secoundary-color;
    -fx-font-weight: 400;

}


.package_popup_addtocart{
    -fx-text-fill: #fff;
    -fx-font-size: 30px;
    -fx-font-weight: 600;
    -fx-font-family: 'Lato';
    -fx-background-color: #333333;
    -fx-background-radius: 40px;
    -fx-min-height: 0px;
    -fx-min-width: 300px;
}





/* Account Page */
.account_your_orders_button{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-padding: 10 40;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #fff;
    -fx-background-radius: 5px;
    -fx-padding: 10 40;
}
.account_your_orders_button:hover{
    -fx-background-color: -fx-primary-hover-color;
}
.account_your_orders_button:pressed{
    -fx-background-color: -fx-primary-color;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}





.back_button{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-padding: 10 40;
    -fx-background-color: #C80000;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-background-radius: 10px;
}
.back_button:hover{
    -fx-background-color: #990303;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.back_button:pressed{
    -fx-background-color: #990303;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-text-fill: #fff;
}

.history_item{
    -fx-background-color: #fff;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
}

.history_item_text{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 24px;
    -fx-text-fill: #3D3D3D;
}
.history_item_text_kvantiet{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 24px;
    -fx-text-fill: #9B9B9B;
}
.history_item_text_amount{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-text-fill: #222222;
}
.history_item_button{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-padding: 10 40;
    -fx-font-size: 24px;
    -fx-border-color: #222222;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}
.history_item_button:hover{
    -fx-background-color: #222222;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.history_item_button:pressed{
    -fx-background-color: #222222;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-text-fill: #fff;
}
.no-orders{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-text-fill: #3D3D3D;
}



/* Wizzard Cart Page */
.wizzard_next_button{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-padding: 10 40;
    -fx-background-color: #0A7935;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-background-radius: 10px;
}
.wizzard_next_button:hover{
    -fx-background-color: #065c27;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.wizzard_next_button:pressed{
    -fx-background-color: #065c27;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-text-fill: #fff;
}

.wizzard_previous_button{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-padding: 10 40;
    -fx-background-color: #5B5B5B;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-background-radius: 10px;
}
.wizzard_previous_button:hover{
    -fx-background-color: #474747;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}
.wizzard_previous_button:pressed{
    -fx-background-color: #474747;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-text-fill: #fff;
}


.wizzard_stepper_button{
    -fx-background-color:transparent;
    -fx-background-radius: 10px;
    -fx-padding: 30 15;
    -fx-font-size: 20px;
    -fx-border-color: #333;
    -fx-border-radius: 150px;
    -fx-border-width: 2px;
}
.wizzard_stepper_button:hover{
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-cursor: hand;
}
.wizzard_stepper_button:pressed{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}
.wizzard_stepper_line{
    -fx-stroke: #333;
    -fx-stroke-width: 2px;
}

.wizzard_stepper_curent{
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 150px;
    -fx-padding: 30 15;
    -fx-font-size: 20px;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius: 150px;
    -fx-border-width: 2px;
    -fx-text-fill: #fff;
}
.wizzard_stepper_line_current{
    -fx-stroke: -fx-primary-color;
    -fx-stroke-width: 2px;
}

.wizzard_title{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 40px;
    -fx-text-fill: #3D3D3D;
}

.wizzard_input_label{
    -fx-font-family: 'Lato';
    -fx-font-weight: 500;
    -fx-font-size: 25px;
    -fx-text-fill: #3D3D3D;
}
.wizzard_input{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 25px;
    -fx-text-fill: #3D3D3D;
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-padding: 10 20;
}


.wizzard_date_card{
    -fx-border-color: -fx-secoundary-color;
    -fx-border-width:  5px;
    -fx-text-fill: -fx-secoundary-color;
    -fx-font-size: 25px;
    -fx-background-color:  #fff;
    -fx-padding: 20 30;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-cursor: hand;
}
.wizzard_date_card:hover{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}
.wizzard_date_card:pressed{

    -fx-scale-x: 0.85;
    -fx-scale-y: 0.85;
}

.wizzard_date_card_active{
    -fx-border-color: -fx-primary-color;
    -fx-border-width:  5px;
    -fx-fill: #fff;
    -fx-font-size: 25px;
    -fx-background-color:  -fx-primary-color;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.wizzard_time_checkbox{
    
    -fx-font-size: 25px;
    -fx-text-fill: #3D3D3D;
    -fx-padding: 10 20;
}


.wizzard_overview_title{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-text-fill: #3D3D3D;
}
.wizzard_overview{
    -fx-font-family: 'Lato';
    -fx-font-weight: 400;
    -fx-font-size: 20px;
    -fx-text-fill: #3D3D3D;
}
.wizzard_overview_price{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 50px;
    -fx-text-fill: #3D3D3D;
}
.wizzard_overview_price_label{
    -fx-font-family: 'Lato';
    -fx-font-weight: 600;
    -fx-font-size: 40px;
    -fx-text-fill: #3D3D3D;
}


.wizzard_success_text{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 40px;
    -fx-text-fill: #3D3D3D;
}

.wizzard_success_text_small{
    -fx-font-family: 'Lato';
    -fx-font-weight: 300;
    -fx-font-size: 30px;
    -fx-text-fill: #3D3D3D;
}

.wizzard_success_button{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-padding: 10 40;
    -fx-background-color: #0A7935;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-background-radius: 10px;
}


.allproducts_categories_title{
    -fx-font-family: 'Lato';
    -fx-alignment: left;
    -fx-font-size: 35px;
    -fx-font-family: 'Lato';
    -fx-fill: #333;
    -fx-font-weight: 800;
}
.allproducts_categories_text{
    -fx-font-family: 'Lato';
    -fx-text-fill: #474747;
    -fx-alignment: left;
    -fx-font-size: 28px;
    -fx-font-family: 'Lato';
    -fx-font-weight: 600;
    -fx-cursor: hand;
}
.allproducts_categories_text:hover{
    -fx-fill: #53b175;
}

.allproducts_categories_text_active{
    -fx-text-fill: #53b175;
    -fx-fill: #53b175;
    -fx-font-weight: 900;
}

.all_products{
    -fx-background-color:transparent;
    -fx-background: transparent;
}

.navbar_search_box{
    -fx-background-image:url('../images/search_icon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 27px 27px;
    -fx-background-position: 98%;
    -fx-background-radius: 5px;
    -fx-font-family: 'Lato';
    -fx-alignment: left;
    -fx-font-size: 35px;
    -fx-font-family: 'Lato';
    -fx-font-weight: 600;
    -fx-padding: 5 20 5 40;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #444444;
}


.product_card{
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.14), 10, 0, 0, 2);


}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.product_card_text{
    -fx-font-family: 'Lato';
    -fx-font-weight: 600;
    -fx-text-fill:  #3D3D3D; 
    -fx-font-size: 30px;  
}

.product_card_price{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 40px;
    -fx-fill: #53b175;

}

.product_card_price_decimal{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-fill: #53b175;
}

.product_card_unit{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-fill: #3D3D3D;
}

.product_card_amount{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-fill: #333;
}

.product_card_addbutton{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 25px;
    -fx-fill: #fff;
    -fx-text-fill: #fff;
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.product_card_addbutton:hover{
    -fx-background-color:   -fx-primary-hover-color;
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}
.product_card_addbutton:pressed{
    -fx-background-color:   -fx-primary-color;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}


/* Varukorg */
.enter_wizzard_button{
    -fx-font-family: 'Lato';
    -fx-font-weight: 800;
    -fx-font-size: 30px;
    -fx-cursor: hand;
    -fx-padding: 10 30;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-background-radius: 10px;
}
.enter_wizzard_button:hover{
    -fx-background-color: -fx-primary-hover-color;
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}
.enter_wizzard_button:pressed{
    -fx-background-color: -fx-primary-color;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.cart_item{
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-width: 0.6px;
    -fx-border-color: #8383839a;
}
.cart_item_button{
    -fx-cursor: hand;
}
.cart_item_button:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}  
.cart_item_button:pressed{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}